body{
	background-color: #fdfdfd;
	font-family:arial, sans-serif;
 	font-size:200%;
}

.message {
	margin-top: 20vh;
	margin-left : 20vw;
	margin-right : 20vw;
	text-align: center;
	background-color:#E4EFFF;
	border:1px solid #9FC6FF;
	padding:5px;
	-moz-border-radius:10px 0;
	-webkit-border-radius:10px 0;
	border-radius:10px 0;
}


